.DS_Store
__pycache__
$RGROBJ3.gitignore
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/SA_Analysis.iml
.idea/vcs.xml
.idea/workspace.xml
*/__pycache__
savelogs/
data/
.ipynb_checkpoints
.ipynb
